<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Here I Am</title>

<!-- Início/Estilos -->
<link rel="stylesheet" href="libs/bootstrap/bootstrap-3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="libs/bootstrap/bootstrap-3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="libs/datatables/datatables-1.10.0/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="libs/jquery-ui/jquery-ui-1.10.4/custom-theme/jquery-ui-bootstrap/jquery-ui-1.10.0.custom.css">
<link rel="stylesheet" href="libs/jquery/jquery.datetimepicker/jquery.datetimepicker.css">
<link rel="stylesheet" href="css/Base.css">
<link rel="stylesheet" href="css/{$controle}.css">
<!-- Fim/Estilos -->

<!-- Início/Scripts -->
<script type="text/javascript" src="libs/jquery/jquery-1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="libs/jquery-ui/jquery-ui-1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="libs/jquery-ui/jquery-ui-1.10.4/i18n/jquery.ui.datepicker-pt-BR.min.js"></script>
<script type="text/javascript" src="libs/bootstrap/bootstrap-3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="libs/datatables/datatables-1.10.0/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="libs/datatables/datatables-1.10.0/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="libs/jquery/jquery.datetimepicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="js/Base.js"></script>
<script type="text/javascript" src="js/{$controle}.js"></script>
<!-- Fim/Scripts -->

</head>
<body>

<!-- Início/Cabeçalho -->
<div id="cabecalho">
</div>
<!-- Fim/Cabeçalho -->