{include file="FragmentoCabecalho.html"}
{include file="FragmentoConteudoCabecalho.html"}
{include file="FragmentoMenu.html"}

{if $acao = "listar"}
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Gerenciar administradores do {if isset($parametros) && $parametros.tipo == "sistema"}sistema{elseif isset($parametros) && $parametros.tipo == "ambiente"}ambiente{else}local{/if}</h3></div>
		<div class="panel-body">
 			<div class="form-group">
				<button id="btnAdicionar" type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
				<button id="btnEditar" type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
				<button id="btnRemover" type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				
				<input type="text" id="teste" />
			</div>		
			<table class="table table-striped table-bordered" id="listaAdministradores">
				<thead>
					<tr>
						<td><strong>Nome</strong></td>
						<td width="20%"><strong>Usu&aacute;rio</strong></td>
						<td width="30%"><strong>Email</strong></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Guilherme Wunsch</td>
						<td>guiwunsch</td>
						<td>email@guiwunsch.com</td>
					</tr>
					<tr>
						<td>Lucas Closs</td>
						<td>lcloss</td>
						<td>lucas.closs@gmail.com</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{elseif $acao = "adicionar"}
{/if}

{include file="FragmentoConteudoRodape.html"} 
{include file="FragmentoRodape.html"}