{include file="FragmentoCabecalho.html"}
{include file="FragmentoConteudoCabecalho.html"}
{include file="FragmentoMenu.html"}

	<div class="panel panel-default">
		<div class="panel-heading">Gerenciar administradores
		<!-- <div class="pull-right"> -->
						<ul class="pagination pagination-sm pull-right">
							<li class="disabled"><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul><!-- </div> --></div>
		<div class="panel-body">
			<p>...</p>
		</div>
	
		<!-- Table -->
		<table class="table">
			<thead>
				<tr>
					<td>Coluna 1</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>
					</td>
				</tr>
			</tfoot>
		</table>
		<div class="panel-footer">
		</div>
	</div>
{include file="FragmentoConteudoRodape.html"} 
{include file="FragmentoRodape.html"}